
@{
    ViewBag.Title = "Suscribete";
}
<link rel="stylesheet" href="~/Content/suscribete.css" />
<div class="container loginsbc-container">
    <div class="row _sag3">
        <div class="col s12 _sag4">
            <div id="box" class="m2">
                <div class="light-blue darken-2 susb-header">
                    <span style="font-size:24px;font-weight:600;">Suscribete</span>
                </div>
                <div class="row">
                    <div class="_0124ih0f col s12 left">
                        <p class="_9212u412hrqwfa">
                            Queremos ayudarte a mantenerte informado respecto
                            a los últimos casos registrados. Pero primeros debes
                            ayudarnos presionando el siguiente botón para acceder
                            a nuestro canal de Telegram: 
                            <br/>
                            <div class="center">
                                <a href="https://t.me/aascovid19info" target="_blank" class="waves-effect waves-light btn-large blue darken-1" style="border-radius:10px;">
                                    <i class="material-icons right">textsms</i>
                                    Unirme a Telegram
                                </a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            <script defer>document.querySelector('main').classList.add('valign-wrapper');</script>

