@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Resources/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="~/Resources/leaflet/dist/leaflet-extra-markers.min.css">
<div id="map">

</div>
<script src="~/Resources/leaflet/dist/leaflet.js"></script>
<script src="~/Resources/leaflet/dist/leaflet-extra-markers.min.js"></script>
<script src="~/Scripts/map.js"></script>