
@{
    ViewBag.Title = "Mapa";
}

<div class="row" style="width:100%;height:100%;">
    <div class="col s12">
        <div id="mapp"></div>
    </div>
</div>
<script src="~/Scripts/map.js" id="_2kdsaqjh1" defer></script>

