
<link rel="styleheet" href="~/content/Statss.css"/>
@{
    ViewBag.Title = "Estad&iacute;sticas";
}
<link rel="stylesheet" href="~/Content/c3.css">
<link rel="stylesheet" href="~/Content/stats.css"/>
<div class="smalldance"><h4>N&uacute;mero de casos <span class="smallparty">(signos zodiacales)</span></h4></div>
<table class="responsive-table">
    <thead>
        <tr id="headers">
        </tr>
    </thead>
    <tbody>
        <tr id="content">
        </tr>
    </tbody>
</table>
<div id="barChart"></div>
<script src="~/Scripts/d3-5.8.2.min.js"></script>
<script src="~/Scripts/c3.js"></script>
<script src="~/Scripts/stats.js" defer></script>