USE [master]
GO
/****** Object:  Database [PFinalWeb]    Script Date: 6/4/2020 22:47:19 ******/
CREATE DATABASE [PFinalWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PFinalWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PFinalWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PFinalWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PFinalWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PFinalWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PFinalWeb]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 6/4/2020 22:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Email] [varchar](320) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[IsEmailVerified] [bit] NOT NULL,
	[VerificationCode] [uniqueidentifier] NOT NULL,
	[RegisterDate] [datetime] NULL,
	[Birthdate] [date] NULL,
	[RecoverPWDCode] [nvarchar](100) NULL,
 CONSTRAINT [PK__Admins__1788CCACF2AFD95F] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Casos]    Script Date: 6/4/2020 22:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Casos](
	[IDCaso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Apellido] [varchar](30) NOT NULL,
	[Cedula] [varchar](15) NOT NULL,
	[País] [varchar](50) NOT NULL,
	[Ciudad] [varchar](30) NOT NULL,
	[Latitud] [decimal](9, 6) NOT NULL,
	[Longitud] [decimal](9, 6) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Comentario] [text] NOT NULL,
	[FechaContagio] [date] NOT NULL,
 CONSTRAINT [PK_Casos] PRIMARY KEY CLUSTERED 
(
	[IDCaso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Noticias]    Script Date: 6/4/2020 22:47:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Noticias](
	[IDNew] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Resumen] [text] NOT NULL,
	[Foto] [image] NOT NULL,
	[Contenido] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_Noticias] PRIMARY KEY CLUSTERED 
(
	[IDNew] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
