
@{
    ViewBag.Title = "Error 404";
}
<link rel="stylesheet" href="~/Content/error404.css" />
<div class="center" style="width:100%;">
    <h2>Error <b class="materialize-red-text">4</b><b class="orange-text">0</b><b class="materialize-red-text">4</b></h2>
    <div class="row">
        <span class="smallroma">
            La página que estás intentando solicitar
            pudo haber sido eliminada, su nombre ha cambiado
            o está temporalmente desactivada (no disponible).
        </span>
    </div>
    <a href="~/home" class="waves-effect waves-light btn-large blue darken-1 smalluva"><i class="material-icons right">home</i>Ir a la página principal</a>
</div>
<script defer>document.querySelector('main').classList.add('valign-wrapper');</script>
<script async>
    var arr = ["header", "footer"]
    for (i in arr)
        { document.querySelector(arr[i]).setAttribute("hidden", "hidden"); }
</script>
