
@{
    ViewBag.Title = "Admin Panel de Control";
}

@if (Request.IsAuthenticated)
{
    <link rel="stylesheet" href="~/Content/Adminpc.css" />
    <div class="center">
        <h3>Puede agregar, editar y/o eliminar casos/noticias.</h3>
        <a href="~/home/news" class="waves-effect waves-light btn-large blue darken-1" style="border-radius:10px;">
            <i class="material-icons right">verified_user</i>
            Noticias
        </a>
        <a href="~/home/casos" class="waves-effect waves-light btn-large blue darken-1" style="border-radius:10px;">
            <i class="material-icons right">verified_user</i>
            Casos
        </a>
        @*<h4>Sección de admins </h4>
        <small class="amarillo">(Sitio en construcción)</small>*@
    </div>
}
else
{

    <div class="center div-alert materialert danger" style="width:100%;">
        <h3 class="center smalladmin">
            Actualmente posee 0% de los permisos para acceder a esta sección. <small class="_ashf0uiqwt">(Estamos 100% seguros de eso)</small>
        </h3>
    </div>

    <script defer>
        var divAlert = document.querySelector(".div-alert");
        if (divAlert != null)
            document.querySelector('main').classList.add('valign-wrapper');
    </script>
}