
@{
    ViewBag.Title = "Verificación";
}

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="center div-alert materialert success" style="width:100%;">
        <h3 class="center" style="width:100%;opacity:0.99;">
            <strong >
                Haz verificado tu cuenta.
                <br />Haz <a href="~/admin/login" style="color:#00acff;">click aquí para iniciar sesión</a>.
            </strong>
        </h3>
    </div>
}
else
{
<div class="center div-alert materialert danger" style="width:100%;">
    <h3 class="center" style="width: 100%;opacity: 0.90;">
        @ViewBag.Msg <small style="font-size:12px;opacity: 0.5">(Estamos 99.9% seguros de eso)</small>  
    </h3>
</div>
}

    <script defer>
        var divAlert = document.querySelector(".div-alert");
        if (divAlert != null)
            document.querySelector('main').classList.add('valign-wrapper');
    </script>
