.smallmorado{

    width:100%;
    opacity: 0.90;
}
.smallnegro{
    margin-bottom:15px;
}
.spn0x24rememberMe {
    padding-left: 23px !important;
    color: #000 !important;
    opacity: 0.97;
}
._spn0x24header {
    font-size: 24px;
    font-weight: 600;
}