.smallazul{
    font-size:24px;font-weight:600;
}
.smallrojo{
    font-size:12px;opacity: 0.7
}
.smallritmo{
    margin-bottom:15px;width:80%;
}
.smallcenterA{
    width:100%;opacity: 0.85;font-size:32px;
}
._00sPNViewBag {
    width: 100%;opacity: 0.90;
}