body {
    padding-top: 0 !important;
    margin-bottom: 0 !important;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer{
    padding-top:0!important;
    padding-bottom:0!important;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}
