#box {
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,0.6) 0 0 2.67px;
    -moz-box-shadow: rgba(0,0,0,0.6) 0 0 2.67px;
    box-shadow: rgba(0,0,0,0.6) 0 0 2.67px;
}

#box::after {
    clear: both;
    display: block;
    content: '';
}

.susb-header {
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 100;
}

._0124ih0f {
    color: #1b1b1b;
    margin: 10px;
}

._9212u412hrqwfa {
    margin: 10px;
}
