
@{
    ViewBag.Title = "Error 500";
}
<link rel="stylesheet" href="~/Content/Error500.css" />
<div class="center" style="width:100%;">
    <h2 class="materialize-red-text">Error <b class="blue-grey-text">5</b><b>00</b>
    <small class="smallcerezo">(El ma' raro)</small>
    </h2>
    <div class="row">
        <span class="smallflora">
            Error interno del servidor. Le aconsejamos volver m&aacute;s tarde.<br/><small class="smallbody">(Las cosas est&aacute;n un poco inestables por aqu&iacute;)</small>
        </span>
    </div>
    @*<a class="waves-effect waves-light btn-large blue darken-1" style="border-radius:10px;"><i class="material-icons right">home</i>Ir a la p&aacute;gina principal</a>*@
</div>
<script defer>document.querySelector('main').classList.add('valign-wrapper');</script>
<script async>
    var arr = ["header", "footer"]
    for (i in arr)
        { document.querySelector(arr[i]).setAttribute("hidden", "hidden"); }
</script>


