
@{
    ViewBag.Title = "Error 404";
}

<div class="center" style="width:100%;">
    <h2>Error <b class="materialize-red-text">4</b><b class="orange-text">0</b><b class="materialize-red-text">4</b></h2>
    <div class="row">
        <span style="width:60%;display:inline-block;color:#1b1b1b;font-size:20px;">
            La página que estás intentando solicitar
            pudo haber sido eliminada, su nombre ha cambiado
            o está temporalmente desactivada (no disponible).
        </span>
    </div>
    <a href="~/home" class="waves-effect waves-light btn-large blue darken-1" style="border-radius:10px;"><i class="material-icons right">home</i>Ir a la página principal</a>
</div>
<script defer>document.querySelector('main').classList.add('valign-wrapper');</script>
<script async>
    var arr = ["header", "footer"]
    for (i in arr)
        { document.querySelector(arr[i]).setAttribute("hidden", "hidden"); }
</script>
