
@{
    ViewBag.Title = "Error General";
}
<link rel="stylesheet" href="~/Content/General.css" />
<div class="center" style="width:100%;">
    <h2>Error General</h2>
    <div class="row">
        <span class="smalloso">
            En realidad no estoy seguro de que ha ocurrido,
            pero se que hubo un error.
        </span>
    </div>
    <a href="~/home" class="waves-effect waves-light btn-large blue darken-1 smalllevel"><i class="material-icons right">home</i>Ir a la p&aacute;gina principal</a>
</div>
<script defer>document.querySelector('main').classList.add('valign-wrapper');</script>
<script async>
    var arr = ["header", "footer"]
    for (i in arr)
        { document.querySelector(arr[i]).setAttribute("hidden", "hidden"); }
</script>
